/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, li, ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of reset border: 3px solid #e1a9df;*/


/*
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2014 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      The Questa Project
 * License URL: http://www.fontspring.com/licenses/the-questa-project/webfont
 *
 *
 */

@font-face {
    font-family: 'questa_granderegular';
    src: url('2-Questa_Grande_Regular-webfont.eot');
    src: url('2-Questa_Grande_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('2-Questa_Grande_Regular-webfont.woff2') format('woff2'),
         url('2-Questa_Grande_Regular-webfont.woff') format('woff'),
         url('2-Questa_Grande_Regular-webfont.ttf') format('truetype'),
         url('2-Questa_Grande_Regular-webfont.svg#questa_granderegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    background-size: 100% 100%;
    background-color: black;
}

body {
	font-family: helvetica, sans-serif;
	font-size: small;
	color: black;
	background-color: black;
	margin: 50px 50px 30px 50px;
	line-height: 2em;
}

nav {
	position absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-transform: uppercase;
    height: 45px;
    margin-bottom: 475px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: .5em;
}

nav li {
	float: left;
	margin-right: 50px;
	padding: 10px;
	color: #FF85AD;
}

nav li a {
	display: block;
	padding: .5em;
	text-decoration: none;
	padding: 0;
	
}

nav li a:hover {
	background-color: #000000;
	color: #FFFFFF;
	text-decoration: none;
}

nav li ul {
	display:none;
	position: ablsolute;
	padding: 0;
}

nav li:hover ul {
display: block;
}

nav li li {
	float: none;
	padding: 0;
	margin: 0;
}


.sidebar {
	position: fixed;
	float: left;
	width: 200px;
	z-index: 1;
	background-color: white;
	opacity: 0.8;
	
}

p {
	margin-top: 5px;
}

td p {
	color: white;}

img {width: 100%;}

table {
  position: absolute;
  left: 230px;
  top: 50px;
  width: 10000px;
 
}


td {
	padding-left: 20px;
	padding-right: 20px;
  	overflow: scroll;
}

.favorite td:nth-child(1), .favorite td:nth-child(5), .favorite td:nth-child(9)
 {
  width: 3%;
}
h3 {font-family:'questa_granderegular', serif;
	color: black;
	font-size: 2em;}	

.sidebar h3 {
	font-family:'questa_granderegular', serif;
	color: black;
	font-size: 2em;
	padding: 20px 0px 5px 20px;
}


.caption, em {
	font-style: oblique;
	font-size: small;
	margin-bottom: 30px;
}

	
a { 
	color: #FF85AD;
	text-decoration: none;	
}

    
footer {
	position: absolute;
	top: 550px;
	clear: both;
	font-size: .75em;
	padding-left: 20px;
}
